<form [formGroup]="contactForm" class="container" (ngSubmit)="enviar()">
  <div class="mb-3">

    <label for="Email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="Email" formControlName="email">

    <div *ngIf="( contactForm.get('email')?.hasError('email') || contactForm.get('email')?.hasError('required')) && contactForm.get('email')?.touched">
      <div class="alert alert-danger">Email is required</div>
    </div>

  </div>

  <div class="mb-3">

    <label for="name" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="name" formControlName="name">

    <div *ngIf="contactForm.get('name')?.hasError('required') && contactForm.get('name')?.touched">
      <div class="alert alert-danger">Name is required</div>
    </div>

  </div>

  <div class="mb-3">

    <label for="message" class="form-label">Mensaje</label>
    <input type="text" class="form-control" id="message" formControlName="message">
    <div *ngIf="contactForm.get('message')?.hasError('required') && contactForm.get('message')?.touched">
      <div class="alert alert-danger">Message is required</div>
    </div>

  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
